:root {
    --cor-principal-primaria: rgb(15, 48, 139); /*roxo claro*/
    --cor-principal-escuro: rgba(26, 55, 109, 0.9); /*roxo escuro*/
    --cor-principal-brilho:  rgba(21, 63, 180, 0.9);/*roxo escuro*/
    --cor-200: rgba(40, 145, 54, 0.9);
    --cor-40X: rgba(219, 121, 0, 0.9);
}

/* =====  Geral ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo";
}



/* ===== Header ===== */
header {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    background-color: var(--cor-principal-primaria);
}

#title_1 {
    font-size: 32px;
    letter-spacing: 3px;
    /* color: #333; */
    color: snow;
    align-content: center;
}

/* --- nav --- */
.nav-list {
    align-self: center;
}
.menu-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.menu-li {
    font-size: .9rem;
    letter-spacing: 3px;
    margin-left: 32px;
}

/* --- Links da nav --- */
.menu-li a {
    font-weight: bold;
    color: snow;
    text-decoration: none;
    transition: 0.3s;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 5px;
}
.menu-li a:hover {
    opacity: 0.7;
}

/* --- Sombra (Linha) --- */
.div-header-linha {
    width: 100%;
    height: .1rem;
    position: absolute;
    align-self: end;
    box-shadow: 0px 17px 29px 0px var(--cor-principal-escuro);
}

/* ===== Main ===== */
main {
    background: #f0f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 92vh;
    padding: 20px;
}

/* ===== Formulário ===== */
.form-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    padding-top: 5%;
}

.txt-area {
    width: 100%;
    min-height: 80px;
    color: #424141;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
    resize: vertical;
    transition: border 0.3s;
}
.txt-area:focus, .txt-area:hover {
    border-color: #4f46e5;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}
#url-warning {
    color: #fff;
    background-color: #e74c3c;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
    transition: all 0.3s ease;
}

#grid_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    padding-top: 2%;
    align-items: center;
}

#txt_url { height: 200px; }
#txt_parameter { height: 60px; }

#div_saveParameter {
    align-self: flex-end;
}
#ipt_saveParameter {
    accent-color: var(--cor-principal-primaria);
}
#lbl_saveParameter {
    user-select: none;
}

.btn {
    height: 100%;
    background: var(--cor-principal-brilho);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s;
    width: 25%;
}
.btn:not(:disabled):hover { background: var(--cor-principal-escuro); } /* apenas para botões ativos */

#btn_verificar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none !important;
}

/* ===== Tabela ===== */
.table-container {
    width: 70%;
    /* max-height: 100vh; */
    margin-top: 20px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; /* remove espaço extra */
    text-align: center;
    background: white;
    overflow: hidden;
    border-radius: 10px;
}

/* --- cabeçalho --- */
thead th {
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: var(--cor-principal-brilho);
    color: white;
    padding: 12px;
    font-weight: bold;
    /* border-right: 1px solid rgba(78, 70, 229, 0.6); */
    border-right: 1px solid var(--cor-principal-primaria);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
/* th:nth-child(1), td:nth-child(1) { width: 5%; }  Posição */
th:nth-child(2), td:nth-child(2) { width: 55%; } /* URL Final */
th:nth-child(3), td:nth-child(3) { width: 25%; } /* Parâmetros */
th:nth-child(4), td:nth-child(4) { width: 15%; } /* Status */

/* --- linhas --- */
td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-right: 1px solid rgba(154, 152, 211, 0.1);
}

tr:nth-child(even) { background: rgb(251, 251, 255); /* cor alternada */ }

/* --- urls --- */
.urls {
    font-family: monospace;
    word-break: keep-all;
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: anywhere;
}

.urls a { color: #007bff; text-decoration: none; }

.urls a:hover { text-decoration: underline; }

/* --- parâmetros --- */
.params {
    text-align: left;
    color: #555;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.params ul {
    list-style: none; /* remove a bolinha padrão */
    padding: 0;
    margin: 0;
}
.params li::before {
    content: "•";
    color: var(--cor-principal-primaria);
    font-weight: bold;
    display: inline-block;
    width: 1em; /* garantir alinhamento */
}
/* --- status --- */
.status { font-weight: bold; }

/* --- caso não tenha resultado --- */
.sem-resultado {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
}

/* --- loading --- */
.spinner {
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top: 4px solid var(--cor-principal-primaria);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --- botões UP/DOWN --- */
#btns_container {
    position: fixed;
    top: 80%;
    /* left: calc(85% + 40px); */
    transform: translateY(-50%);
    display: none; /* display flex só depois de clicar em verificar */
    flex-direction: column;
    gap: 17px;
    right: 50%;
    left: 90%;
}
#btns_container button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background: var(--cor-principal-primaria);
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    transition: background 0.3s;
}
#btns_container button:hover { 
    transform: scale(1.1);
    background: var(--cor-principal-escuro);
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}

/* --- Utils --- */
.apagar { display: none; }

