:root {
    --cor-principal-primaria: rgb(15, 48, 139); /*roxo claro*/
    --cor-principal-escuro: rgba(26, 55, 109, 0.9); /*roxo escuro*/
    --cor-principal-brilho:  rgba(21, 63, 180, 0.9);/*roxo escuro*/
    --cor-200: rgba(40, 145, 54, 0.9);
    --cor-40X: rgba(219, 121, 0, 0.9);
}
